body{
  background-color: rgba(246, 246, 246, 0.8);
}
#page{
  font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
  color: #000;
}
.search{
  position: fixed;
  top:0px;
  left: 50%;
  z-index: 12;
  width: 100%;
  height: 3.21em;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 540px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
}
#search-item1{
  margin-top: 7px;
  height: 2em;
  width: 88%;
  overflow: hidden;
  padding: 0 5px;
  line-height: 2em;
  border-radius:5px;
  background-color: #fff;
  color: #666;
  font-size: 0.86em;
  border: 1px solid #999;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
}
#search-item2{
  margin-left: 11px;
  color: deepskyblue;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
/*设置div*/
.swiper{
  width: 540px;
  height: 107px;
  /*设置居中*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  /*为父元素开启相对定位*/
  position: relative;
  /*隐藏溢出的内容*/
  overflow: hidden;
}
.scroll_div{
  width: 5000px;
  height: 107px;
  /*开启绝对定位*/
  position: absolute;
  /*
         * 通过修改ul的left值，可以切换图片
           * 	1 0px
           * 	2 -520px
           * 	3 -1040px
           * 	4 -1560px
           * 	....
           */
  left: 0px;
}
.scroll_div img{
  height: 107px;
  width: 540px;
}
.dot{
  text-align: center;
  font-size: 0px;
}
.slide_dot_current{
  background: white;
  border-color:rgba(5,15,28,.08);
  width: 18px;
  overflow: hidden;
  height: 5px;
  display: inline-block;/*行元素*/
  margin: 0 2.5px;
  border-radius: 10px;
}
.slide_dot{
  overflow: hidden;
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,.3);
  display: inline-block;/*行元素*/
  margin: 0 2.5px;
  border-radius: 10px;
  border: 1px solid rgba(5,15,28,.05);
}
#searchpage{
  display: flex;
  flex-direction: column;
  width: 540px;
  position: fixed;
  top: 46px;
  left: 252px;
}
.search-head{
  position: fixed;
  top:0px;
  left: 50%;
  z-index: 12;
  width: 100%;
  height: 3.21em;
  background-color: #e6f0f7;
  color: #000000;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 540px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
}
.searchbox1{
  height: 3.21em;
  width: 3.21em;
}
.searchbox2{
  background-color: white;
  margin-top: 1.2%;
  margin-bottom: 1.2%;
  width: 445px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.search-title{
  margin: 8px 15px 2px;
  font-weight: normal;
  font-size: 13px;
  color: #666;
}
.search-list{
  position: relative;
  color: #000;
  border-top:1px solid #ddd;
  background-color:#fff;
  display: flex;
  flex-direction: column;
  padding: 0 0px;
}
.fill-in{
  position: relative;
  padding: 10px 35px;
  border-bottom: 1px solid #ddd;
  list-style-type: none;
  background-color: white;
}




